body{
    margin: 0;
    padding: 0;
}
#MainNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:linear-gradient(to right, #00093c,#2d0b00);
    text-align: center;
    max-width: 100%;
    
}
#MainNav li{
    display: inline-block;
}
#MainNav li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 15px 18px;
    text-decoration: none;
    font-style: italic;
    font-size: large;
}
#MainNav li a:hover{
    background: blue;
}
h1{
    text-align: center;
    font-style: italic;
    font-size: 300%;
}

p{
    font-size: 150%;
    font-style: italic;
    text-align: center;
}

h2{
    font-size: 250%;
}

.gal{
    padding: 10px;
    border: solid;
    border-width: 5px;
    
}

h3{
    font-size: 250%;
}

.parakrama{
    padding: 10px;
    border: solid;
    border-width: 5px;
    

}
h4{
    font-size: 250%;
}
footer{
    height: 180px;
    left: 0;
    bottom: 0;
    width: 100%;
    background:linear-gradient(to right, #00093c,#2d0b00);
    color: white;
    text-align: center;
    
    font-size: 20px;
    line-height: 20px;
}
.call li a{
    color: white;
    
    
}
.call ul{
    margin: 0;
    text-align: left;
    line-height: 30px;
    
}
.call li a:hover{
    color: blue;
}

.call p{
    position: relative;
    font-size: 200%;
    top: 10px;
}